{
    "extends": [
        "react-app",
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:cypress/recommended"
    ],
    "plugins": ["cypress"],
    "env": {
        "cypress/globals": true
    },
    "rules": {
        "no-unused-vars": "warn"
    }
}
